@charset "UTF-8";
select {
    height: 30px;
    width: 50%;
}
/*regist*/
.cartflow {
    margin-bottom: 5%;
}
.cartflow li {
    float: left;
    width: 21%;
    font-weight: normal;
    text-align: center;
    font-size: 14px;
    padding: 5px 0;    
    background-color: #f2f2f2;
    border-radius: 20px;
    color: #2a2a2a;
    margin-right: 5%;
    position: relative;
    line-height: 1.3;
}
.cartflow li:last-child{
	margin-right: 0;
}
.cartflow .cartflow-now {
    background-color: #b29e62;
    color: #fff;
}
.cartflow li:before {
    content: "";
    background: url(../regist/images/arrow_01.png) no-repeat left center;
    background-size: 7px 9px;
    width: 7px;
    height: 9px;
    position: absolute;
    left: -15%;
    top: 17px;
}
.cartflow li:first-child:before { display: none; }


/*cartlist-table*/
#cartlist-table {
    border-collapse: collapse;
    border: 1px solid #cccccc;
    width: 100%;
}
#cartlist-table thead th {
    padding: 8px 5px;
    background: #f8f8f8;
    border: 1px solid #ede6d4;
    text-align: center;
    white-space: nowrap;
    font-weight: normal;
}
#cartlist-table tbody td {
    padding: 8px 5px;
    background: #fff;
    border: 1px solid #ede6d4;
    text-align: right;
}
#cartlist-table tbody .ctr,
#cartlist-table tbody #deleteform td,
#cartlist-table tbody #addform td {
    text-align: center;
}
#cartlist-table tfoot th {
    padding: 8px 5px;
    background: #f8f8f8;
    border: 1px solid #ede6d4;
    text-align: right;
    font-weight: normal;
}
#cartlist-table tfoot td {
    padding:  8px 5px;
    border: 1px solid #ede6d4;
    text-align: right;
}
.step-jump4 {
	margin:4% 20%;
}
.step-jump4 li {
    background: #ab60b4 url("../regist/images/arrow_02.png") no-repeat center right 15px;
    background-size: 4px 8px;
    text-align: center;
    border-radius: 30px;
    padding: 4% 0;
    margin-bottom: 3%;
}
.step-jump4 li:last-child {
    margin-right: 0;
}
.step-jump4 li a {
    color: #fff;
    display: block;
    text-decoration: none;
}
/*error-disp*/
#error-disp p {
    padding: 4%;
    text-align: center;
    color: #ba2c2c;
    font-weight: bold;
}
/*cart-pw*/
#cart-pw #emailto {
    background: #f8f8f8;
    border: 1px solid #ede6d4;
    padding: 5px 10px;
    border-radius: 20px;
    text-align: center;
    color: #b29e62;
    font-size: 15px;
    font-weight: bold;
}
/*#cart-pw {
    padding: 2% 3%;
}
*/
#cart-pw table {
    margin: 2% 3%;
}
#cart-pw table th {
	background: #f9eded;
    border: 1px solid #f1c7c7;
    text-align: left;
    padding-left: 15px;
}
#cart-pw table td {
    padding: 3px 6px;
}
#cart-pw #pw-input {
    border-collapse: collapse;
    border-spacing: 0px;
    width: 94%;
}
#cart-pw #pw-input th {
    padding: 8px 5px;
    background: #f8f8f8;
    border: 1px solid #ede6d4;
}
#cart-pw #pw-input td {
    padding: 8px 5px;
    background: #f8f8f8;
    border: 1px solid #ede6d4;
}
#cart-pw table td label {
    text-align: right;
}
#cart-pw #pw-input2 {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0px;
}
input.next2 {
    font-size: 100%;
    font-weight: bold;
    color: #2D2D2D;
}
input[type="text"],input[type="password"],input[type="email"]  {
	width: 100%;
	height: 25px;
}
fieldset {
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}
.step-jump {
    padding: 5% 0;
    text-align: center;
}
.step-jump2 {
    margin: 5% 22%;
    text-align: center;
}
.step-jump2 li{
	list-style-type: none;
}
.step-jump2 li input {
    width: 100%;
}
/*
#step-left {
    margin: 0px;
    padding: 10px 0px;
    text-align: left;
    vertical-align: top;
}
#step-right {
    margin: 0px;
    padding: 10px 0px;
    text-align: right;
    vertical-align: top;
}*/
#error-disp form {margin: 5% 0; text-align: center; }
#next-credit form { padding: 0 2%; line-height: 1.8; }
#next-credit input { margin: 5% 0; }
#fin-cart {
    padding: 0 2%;
    line-height: 150%;
}
.list_input li{
    text-align: center;
    margin-top: 4%;
}
/*.item_regist {
    border: 3px solid #000000;
    padding: 20px;
    margin: 20px 0;
}
.sec_regist .item {
    float: left;
    width: 205px;
    padding: 10px;
    margin-right: 15px;
}
.sec_regist .item figure {
    height: 150px;
    width: 205px;
    position: relative;
    background: #f4f4f4;
    margin-bottom: 10px;
}
.sec_regist .item .cont_item {
    float: none;
    width: 205px;
    margin-bottom: 20px;
}
.sec_regist .item .cont_item .text_price {
    font-size: 18px;
    text-align: right;
}*/
/*TABLE*/
.style_table01 { width: 100%; border-collapse: collapse;}




@media(max-width: 413px){
	.step-jump4 {
	    margin: 4% 13%;
	}
}
@media(max-width: 359px){
	.cartflow li {
	    font-size: 12px;
	}
	.step-jump2 {
	    margin: 5% 16%;
	    text-align: center;
	}
}